* {
    box-sizing: border-box;
  }
  
  #searchInput {
    /*background-image: url('/css/searchicon.png');*/
    background-position: 10px 12px;
    background-repeat: no-repeat;
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }
  
  #searchUL {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  #searchUL li a {
    border: 1px solid #ddd;
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: block
  }
  
  #searchUL li a:hover:not(.header) {
    background-color: #eee;
  }

  /* Added for layout on default app blade - JVH*/
  body {
    transition: background-color .5s;
    /*  Yeah, it's kinda ugly. Is there something else we can
    do, like perhaps a card or a well?
    background-image: url('../images/NannosBG.png');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-attachment: fixed;
    */
}

.sidenav {
    height: 100%;
    width: 50px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;  
    float: right;
}

.sidenav .text {
    display: none;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    left: 25px;
    font-size: 20px;
    margin-left: 50px;
}

.sidenav .navlogo {
    display: block;
    margin-left: 50;
}


#main {
    transition: margin-left .5s;
    padding: 16px;
    margin-left: 50px;
}

.tableInput {
    /*background-image: url('/public/images/searchicon.png'); */
    background-position: 10px 12px; 
    background-repeat: no-repeat;
    width: 100%; 
    font-size: 16px; 
    padding: 12px 20px 12px 40px; 
    border: 1px solid #ddd; 
    margin-bottom: 12px; 
}

#searchTable{
    border-collapse: collapse; 
    width: 100%; 
    border: 1px solid #ddd; 
    font-size: 18px; 
}

#searchTable th, #myTable td {
    text-align: left; 
    padding: 12px; 
    text-align: center;
}

#searchTable tr {
    border-bottom: 1px solid #ddd; 
    text-align: center;
}

#searchTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
    text-align: center;
}

#deliveredTable{
    border-collapse: collapse; 
    width: 100%; 
    border: 1px solid #ddd; 
    font-size: 18px; 
}

#deliveredTable th, #myTable td {
    text-align: left; 
    padding: 12px; 
    text-align: center;
}

#deliveredTable tr {
    border-bottom: 1px solid #ddd; 
    text-align: center;
}

#deliveredTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
    text-align: center;
}

#returnTable{
    border-collapse: collapse; 
    width: 100%; 
    border: 1px solid #ddd; 
    font-size: 18px; 
}

#returnTable th, #myTable td {
    text-align: left; 
    padding: 12px; 
    text-align: center;
}

#returnTable tr {
    border-bottom: 1px solid #ddd; 
    text-align: center;
}

#returnTable tr.header, #myTable tr:hover {
    background-color: #f1f1f1;
    text-align: center;
}


@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}

